.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.footer-left-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer-left-child a {
  margin: 0;
  padding: 0;
}

.footer-left-child h4 {
  margin: 0 0 8px;
}

.footer-center {
  display: flex;
  flex-direction: column;
}

.footer-center a {
  margin: 0 0 18px;
  padding: 0;
}

.footer-center h4 {
  margin: 0 0 8px;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right a {
  margin: 0 0 18px;
  padding: 0;
}

.footer-right h4 {
  margin: 0 0 8px;
}

.icon {
  width: 50px;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.icon img {
  width: 60%;
}

@media only screen and (max-width: 430px) {
  .footer-container {
    display: grid;
  }
}
