.header-menu {
  display: flex;
  justify-content: center;
}

.header-logo {
  max-width: 5%;
  margin: 10px;
}

.header-logo img {
  max-width: 100%;
}

li {
  list-style: none;
  margin: 20px;
}

a {
  color: #555555;
  font-size: 17px;
}

.header-language {
  position: absolute;
  top: 37px;
  right: 35px;
  max-width: 1%;
}

.header-language img {
  max-width: 100%;
}
