.banner-container img:first-child {
  display: block;
  width: 100%;
}

.banner-container img:last-child {
  display: none;
}

@media (max-width: 430px) {
  .banner-container img:first-child {
    display: none;
  }

  .banner-container img:last-child {
    display: block;
    width: 100%;
  }
}
