.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px;
}

.header-container.scrolled {
  background-color: white;
}

.header-action {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

a {
  color: black;
  padding: 20px 10px;
  margin: 0 5px;
}

.header-action {
  align-items: center;
}

.header-search {
  position: relative;
}

.header-search-icon {
  position: absolute;
  top: 10px;
  right: -20px;
}

.header-search-icon img {
  width: 40%;
}

.header-search input {
  height: 45px;
  border: 1px solid gray;
  padding: 0 22px 0 10px;
  background: transparent;
  border-radius: 5px;
  margin-right: 10px;
}

.header-icons img {
  display: block;
  width: 24px;
  height: 24px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icons-cart {
  position: relative;
}

.header-icons-cart img {
  width: 30px;
  height: 30px;
}

.cart-span {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: gray;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 13px;
  color: white;
  font-size: 11px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 120px;
}

.header-popup-1 {
  position: absolute;
  top: 100%;
  left: 40px;
  width: 21%;
  background-color: #fff;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
}

.header-popup-1 a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.header-popup-1 a:hover {
  text-decoration: underline;
}

.header-menu li:hover .header-popup-1 {
  display: flex;
}

.header-popup-2 {
  position: absolute;
  top: 100%;
  left: 150px;
  width: 21%;
  background-color: #fff;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
}

.header-popup-2 a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.header-popup-2 a:hover {
  text-decoration: underline;
}

.header-menu li:hover .header-popup-2 {
  display: flex;
}

.header-popup-3 {
  position: absolute;
  top: 100%;
  left: 235px;
  width: 22%;
  background-color: #fff;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
}

.header-popup-3 a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.header-popup-3 a:hover {
  text-decoration: underline;
}

.header-menu li:hover .header-popup-3 {
  display: flex;
}

.header-popup-4 {
  position: absolute;
  top: 100%;
  left: 440px;
  width: 27%;
  background-color: #fff;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
}

.header-popup-4 a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.header-popup-4 a:hover {
  text-decoration: underline;
}

.header-menu li:hover .header-popup-4 {
  display: flex;
}

.header-popup-5 {
  position: absolute;
  top: 100%;
  left: 845px;
  width: 27%;
  background-color: #fff;
  padding: 10px;
  display: none;
  flex-direction: column;
  border-radius: 5px;
  z-index: 100;
  list-style: none;
}

.header-popup-5 a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.header-popup-5 a:hover {
  text-decoration: underline;
}

.header-menu li:hover .header-popup-5 {
  display: flex;
}

.header-title a {
  color: #000;
}

.header-menu li a {
  padding: 12px 10px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .header-menu {
    justify-content: flex-start;
    width: 100%;
  }

  .header-inner {
    flex-direction: row;
    padding: 0 20px;
  }

  .header-menu li a {
    padding: 10px 5px;
    font-size: 14px;
  }
}
