.fashionbackpack-child {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.fashionbackpack-card {
  width: 24.4%;
  height: 100%;
}

.fashionbackpack-card img {
  width: 100%;
  height: 100%;
}

.fashionbackpack-card p {
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.fashionbackpack-card span {
  font-weight: bold;
}

.sample {
  text-align: center;
}

.sample img {
  border-radius: 100%;
  width: 5%;
  padding: 2px;
  border: 1px solid rgb(221, 221, 221);
}

.fashionbackpack-title a {
  font-weight: 400;
}

.see-all-fashionbackpack {
  text-align: center;
}

.see-all-fashionbackpack a {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 14px;
  font-weight: 400;
}

.fashionbackpack-title {
  position: relative;
  text-align: center;
  margin: 40px;
}

.fashionbackpack-title::before {
  content: "";
  position: absolute;
  left: -40px;
  right: -40px;
  bottom: 15px;
  height: 1px;
  background-color: rgb(230, 230, 230);
  margin: 0 15px 20px 15px;
}

@media only screen and (max-width: 430px) {
  .fashionbackpack-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .fashionbackpack-card {
    width: 100%;
  }

  .fashionbackpack-card img {
    height: auto;
    object-fit: cover;
  }
}
